{% extends "base.html" %}
{% block titulo %}Eliminar{% endblock %}
{% block contenido %}

<form method="post" class="d-flex justify-content-center w-100">
    {% csrf_token %}
    {% include "fragments/card-start.html" with card_header="Eliminar" %}
    <p>¿Deseas eliminar {{ object }}?</p>
    <button type="submit" class="btn btn-danger btn-sm">
        <i class="far fa-question-circle"></i>
        Sí, Eliminar
    </button>
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-success btn-sm">
        <i class="fa fa-undo"></i>
        No, Cancelar
    </a>
    {% include "fragments/card-end.html" %}
</form>

{% endblock %}