{% extends "base.html" %}

{% block titulo %}Gas Control{% endblock %}

{% block contenido %}
{% include "fragments/header.html" with titulo="Inicio"%}
{% include "fragments/card-start.html" with card_header="Bienvenido" %}
<h4 class="card-title">
    {% if user.is_authenticated %}
    Hola {{ user.email }}
    {% else %}
    <!-- <a href="{% url 'users:login' %}">Login</a> -->
    <a href="{% url 'users:login_alt' %}">Login</a>
    {% endif %}
</h4>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
    content.</p>
{% include "fragments/card-end.html" %}
{% endblock %}