{% load socialaccount %} {% providers_media_js %}

<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="bs-component">
      <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <div
                class="navbar-brand"
                hx-get="{% url 'core:home' %}"
                hx-push-url="true"
                hx-trigger="click"
                hx-target="#body"
                hx-swap="outerHTML"
                style="cursor: pointer;"
            >
            Gas Control
            </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor01"
            aria-controls="navbarColor01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <div
                  class="nav-link"
                  hx-get="{% url 'core:home' %}"
                  hx-push-url="true"
                  hx-trigger="click"
                  hx-target="#body"
                  hx-swap="outerHTML"
                  style="cursor: pointer;"
                >
                  Inicio
                </div>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="#">Registrar</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="true"
                >
                Catálogo
                </a>
                <div class="dropdown-menu">
                  <div
                    class="dropdown-item"
                    hx-get="{% url 'control:brand_list' %}"
                    hx-push-url="true"
                    hx-trigger="click"
                    hx-target="#body"
                    style="cursor: pointer;"
                  >
                  Marcas
                  </div>
                  {% if perms.ctrl_comb.view_carmodel %}
                  <a class="dropdown-item" href="{% url 'control:model_list' %}">modelos</a>
                  {% endif %}
                  {% if perms.ctrl_comb.view_vehicle %}
                  <a class="dropdown-item" href="{% url 'control:list_vehicles' %}">Vehículos</a>
                  {% endif %}
                </div>
              </li>
              {% endif %}
              <li class="nav-item">
                <div
                    class="nav-link"
                    hx-get="{% url 'pages:about-app' %}"
                    hx-push-url="true"
                    hx-trigger="click"
                    hx-target="#body"
                    hx-swap="outerHTML"
                    style="cursor: pointer;"
                >
                Acerca de
                </div>
              </li>
            </ul>
            <div class="d-flex">
              {% if user.is_authenticated %}
                <div
                    class="text-info"
                    hx-get="{% url 'users:logout' %}"
                    hx-push-url="true"
                    hx-trigger="click"
                    hx-target="#body"
                    hx-swap="outerHTML"
                    style="cursor: pointer;"
                >
                Cerrar Sesión
                </div>
              {% else %}
                <div
                    class="text-info"
                    hx-get="{% url 'users:login_alt' %}"
                    hx-push-url="true"
                    hx-trigger="click"
                    hx-target="#body"
                    hx-swap="outerHTML"
                    style="cursor: pointer;"
                >
                Iniciar Sesión
                </div> |
                <div
                    class="text-info"
                    hx-get="{% url 'users:register' %}"
                    hx-push-url="true"
                    hx-trigger="click"
                    hx-target="#body"
                    hx-swap="outerHTML"
                    style="cursor: pointer;"
                >
                Regístrate
                </div> |
                <div
                    class="text-info"
                    hx-get="{% provider_login_url 'google' %}?next=/"
                    hx-push-url="true"
                    hx-trigger="click"
                    hx-target="#body"
                    hx-swap="outerHTML"
                    style="cursor: pointer;"
                >
                Google
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
