{% extends "base.html" %}
{% block titulo %}Modelos de Vehículos{% endblock %}
{% block contenido %}
{% include "fragments/card-start.html" with card_header="Listado de Modelos de Vehículos" %}
<a href="{% url 'control:create_model' %}" class="btn btn-info btn-sm">
    <i class="bi bi-plus-circle"></i>
    Agregar Modelo
</a>
<button type="button" class="btn btn-secondary btn-sm" onclick="showModal('{% url 'control:create_model_modal' %}')">
    <i class="bi bi-plus-circle"></i>
    Agregar Modelo
</button>
<table id="car-model-table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </thead>
</table>
{% include "fragments/card-end.html" %}
{% endblock %}

{% block js %}
{% endblock %}

<!-- datatable settings for the table on this page -->

<!-- url to get data -->
{% block table_url %}{% url 'control:datatable_model' %}{% endblock %}
<!-- url to edit data -->
{% block edit_url %}/control/models/update/modal{% endblock %}
<!-- url to delete data -->
{% block delete_url %}{% url 'control:model_list' %}/delete{% endblock %}
<!-- table id -->
{% block table_id %}#car-model-table{% endblock %}
<!-- columns to render -->
{% block table_columns %}
{ data: "brand" },
{ data: "description" },
{% endblock table_columns %}