{% extends "base.html" %}
{% block titulo %}Modelos de Vehículos{% endblock %}
{% block contenido %}
{% include "fragments/card-start.html" with card_header="Listado de Modelos de Vehículos" %}
<a href="{% url 'control:create_model' %}" class="btn btn-info btn-sm">
    <i class="bi bi-plus-circle"></i>
    Agregar Modelo
</a>
<button type="button" class="btn btn-secondary btn-sm" onclick="abrirModal('{% url 'control:create_model_modal' %}')">
    <i class="bi bi-plus-circle"></i>
    Agregar Modelo
</button>
<table id="car-model-table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Marca</th>
            <th>Modelo</th>
        </tr>
    </thead>
    <tbody>
        {% for object in objects %}
        <tr>
            <td>
                <a href="{% url 'control:update_model' object.id %}" class="btn btn-success btn-sm">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <button type="button" class="btn btn-info btn-sm"
                    onclick="abrirModal('{% url 'control:update_model_modal' object.id %}')"
                >
                    <i class="bi bi-pencil-square"></i>
                </button>
                <a href="{% url 'control:delete_model' object.id %}" class="btn btn-danger btn-sm">
                    <i class="bi bi-trash"></i>
                </a>
                <button type="button" class="btn btn-danger btn-sm"
                    onclick="deleteCarModel(Number('{{ object.id }}'), '{{ object.brand.description }}', '{{ object.description }}')">
                    <i class="bi bi-trash3"></i>
                </button>
            </td>
            <td>{{object.brand.description}}</td>
            <td>{{object.description}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "fragments/card-end.html" %}
{% endblock %}

{% block js %}
{% include "fragments/datatable.html" with class_name="#car-model-table"%}
<script>
    function deleteCarModel(id, brand, model) {
        Swal.fire({
            title: "Estás seguro/a?",
            text: `Deseas eliminar ${brand} - ${model}`,
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sí, Borrar!",
            cancelButtonText: "Cancelar",
        }).then((result) => {
            if (result.isConfirmed) {
                const url = `{% url 'control:model_list' %}/delete/${id}`
                $.ajax({
                    headers: { "X-CSRFToken":"{{ csrf_token }}"},
                    type: "POST",
                    url,
                    success: (data, textStatus, jqXHR) => {
                        if (jqXHR.status == 200) {
                            Swal.fire({
                                title: "Borrado!",
                                text: `${brand} - ${model} ha sido borrado`,
                                icon: "success"
                            }).then(() => { location.reload() });
                        }
                    },
                    error: (jqXHR, textStatus, errorThrown) => {
                        Swal.fire({
                            title: "Error!",
                            text: `${brand} - ${model} no ha sido borrado`,
                            icon: "error"
                        })
                    },
                })
            }
        });
    }
</script>
{% endblock %}